Source: ruby-rufus-dollar
Section: ruby
Priority: optional
Maintainer: David Greaves <david@dgreaves.com>
Uploaders: Islam Amer <islam.amer@nokia.com>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 7.0.50~), gem2deb (>= 0.2.1)
Standards-Version: 3.9.1
#Vcs-Git: git://git.debian.org/pkg-ruby-extras/ruby-rufus-dollar.git
#Vcs-Browser: http://git.debian.org/?p=pkg-ruby-extras/ruby-rufus-dollar;a=summary
Homepage: http://rufus.rubyforge.org
XS-Ruby-Versions: all

Package: ruby-rufus-dollar
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby1.8 | ruby-interpreter
# rake (>= 0, development), rspec (>= 2.0, development)
Description: ${xxx} substitutions
 .
 ${xxx} substitutions
 .
